<app-operations
  kickerKey="pages.admin.formations.sectionLabel"
  titleKey="common.entities.formations"
  [descriptionKeys]="[
    'pages.admin.entities.formations.description',
    'pages.admin.formations.description',
  ]"
  [endpointLabel]="endpointLabel"
  [hasRecords]="hasFormations()"
  [isLoading]="isLoading()"
  [errorKey]="loadErrorKey()"
  loadingKey="pages.admin.formations.states.loading"
  emptyKey="pages.admin.formations.states.empty"
  (createClicked)="openCreateModal()"
  (readClicked)="openReadModal()"
  (updateClicked)="openUpdatePickerModal()"
  (deleteClicked)="openDeletePickerModal()"
>
  <app-formations-operations-modal
    [isOpen]="isModalOpen()"
    [modalTitleKey]="modalTitleKey()"
    [modalMode]="modalMode()"
    [formations]="formations()"
    [selectedFormation]="selectedFormation()"
    [form]="form()"
    [technologyOptions]="technologyOptions()"
    [imageAssetOptions]="imageAssetOptions()"
    [degreeTypeOptions]="degreeTypeOptions()"
    [pagination]="pagination()"
    [searchValue]="searchQuery()"
    [feedbackKey]="modalFeedbackKey()"
    [feedbackTone]="modalFeedbackTone()"
    [isLoading]="isLoading()"
    [isSubmitting]="isSubmitting()"
    (closed)="closeModal()"
    (slugChanged)="updateSlug($event)"
    (institutionChanged)="updateInstitution($event)"
    (titlePtChanged)="updateTitlePt($event)"
    (titleEnChanged)="updateTitleEn($event)"
    (titleEsChanged)="updateTitleEs($event)"
    (degreeTypeChanged)="updateDegreeType($event)"
    (summaryPtChanged)="updateSummaryPt($event)"
    (summaryEnChanged)="updateSummaryEn($event)"
    (summaryEsChanged)="updateSummaryEs($event)"
    (startDateChanged)="updateStartDate($event)"
    (endDateChanged)="updateEndDate($event)"
    (highlightChanged)="updateHighlight($event)"
    (sortOrderChanged)="updateSortOrder($event)"
    (technologyToggled)="toggleTechnology($event)"
    (imageAssetToggled)="toggleImageAsset($event)"
    (submitted)="submitModal()"
    (updateSelected)="openUpdateModal($event)"
    (deleteSelected)="openDeleteModal($event)"
    (pageSelected)="goToPage($event)"
    (searchChanged)="updateSearchQuery($event)"
  />
</app-operations>
