@if (interactive()) {
  <button type="button" class="tag-button" (click)="requestSelection($event)">
    <ng-container *ngTemplateOutlet="tagContent" />
  </button>
} @else {
  <span class="tag-button-static">
    <ng-container *ngTemplateOutlet="tagContent" />
  </span>
}

<ng-template #tagContent>
  <hans-tag
    appDeferredImageSource
    [appDeferredImageSource]="tag().image?.src ?? null"
    deferredImageSourceAttribute="image-src"
    deferredImageFrameHeight="2rem"
    [attr.label]="tag().label"
    [attr.image-alt]="tag().image?.alt ?? null"
    [attr.mediaPosition]="'left'"
    [attr.tagColor]="tagColor()"
    [attr.tagSize]="'sm'"
  ></hans-tag>
</ng-template>
