<ul class="footer-social-links" [attr.aria-label]="'footer.social.navigation' | translate">
  @for (link of links; track link.href) {
    <li>
      <hans-button
        class="footer-social-link-button"
        [attr.aria-label]="link.labelKey | translate"
        buttonColor="base"
        buttonShape="rounded"
        buttonSize="small"
        hoverButtonColor="primary"
        hoverButtonVariant="transparent"
        buttonVariant="transparent"
        (click)="openLink(link.href)"
      >
        <hans-icon [name]="link.iconName" iconSize="medium"></hans-icon>
      </hans-button>
    </li>
  }
</ul>
