<app-operations
  kickerKey="pages.admin.jobs.sectionLabel"
  titleKey="common.entities.jobs"
  [descriptionKeys]="['pages.admin.entities.jobs.description', 'pages.admin.jobs.description']"
  [endpointLabel]="endpointLabel"
  [hasRecords]="hasJobs()"
  [isLoading]="isLoading()"
  [errorKey]="loadErrorKey()"
  loadingKey="pages.admin.jobs.states.loading"
  emptyKey="pages.admin.jobs.states.empty"
  (createClicked)="openCreateModal()"
  (readClicked)="openReadModal()"
  (updateClicked)="openUpdatePickerModal()"
  (deleteClicked)="openDeletePickerModal()"
>
  <app-jobs-operations-modal
    [isOpen]="isModalOpen()"
    [modalTitleKey]="modalTitleKey()"
    [modalMode]="modalMode()"
    [jobs]="jobs()"
    [selectedJob]="selectedJob()"
    [form]="form()"
    [experienceOptions]="experienceOptions()"
    [pagination]="pagination()"
    [searchValue]="searchQuery()"
    [feedbackKey]="modalFeedbackKey()"
    [feedbackTone]="modalFeedbackTone()"
    [isLoading]="isLoading()"
    [isSubmitting]="isSubmitting()"
    (closed)="closeModal()"
    (slugChanged)="updateSlug($event)"
    (namePtChanged)="updateNamePt($event)"
    (nameEnChanged)="updateNameEn($event)"
    (nameEsChanged)="updateNameEs($event)"
    (summaryPtChanged)="updateSummaryPt($event)"
    (summaryEnChanged)="updateSummaryEn($event)"
    (summaryEsChanged)="updateSummaryEs($event)"
    (startDateChanged)="updateStartDate($event)"
    (endDateChanged)="updateEndDate($event)"
    (highlightChanged)="updateHighlight($event)"
    (sortOrderChanged)="updateSortOrder($event)"
    (experienceToggled)="toggleExperience($event)"
    (submitted)="submitModal()"
    (updateSelected)="openUpdateModal($event)"
    (deleteSelected)="openDeleteModal($event)"
    (pageSelected)="goToPage($event)"
    (searchChanged)="updateSearchQuery($event)"
  />
</app-operations>
