<app-operations
  kickerKey="pages.admin.customers.sectionLabel"
  titleKey="common.entities.customers"
  [descriptionKeys]="[
    'pages.admin.entities.customers.description',
    'pages.admin.customers.description',
  ]"
  [endpointLabel]="endpointLabel"
  [hasRecords]="hasCustomers()"
  [isLoading]="isLoading()"
  [errorKey]="loadErrorKey()"
  loadingKey="pages.admin.customers.states.loading"
  emptyKey="pages.admin.customers.states.empty"
  (createClicked)="openCreateModal()"
  (readClicked)="openReadModal()"
  (updateClicked)="openUpdatePickerModal()"
  (deleteClicked)="openDeletePickerModal()"
>
  <app-customers-operations-modal
    [isOpen]="isModalOpen()"
    [modalTitleKey]="modalTitleKey()"
    [modalMode]="modalMode()"
    [customers]="customers()"
    [selectedCustomer]="selectedCustomer()"
    [form]="form()"
    [experienceOptions]="experienceOptions()"
    [imageAssetOptions]="imageAssetOptions()"
    [pagination]="pagination()"
    [searchValue]="searchQuery()"
    [feedbackKey]="modalFeedbackKey()"
    [feedbackTone]="modalFeedbackTone()"
    [isLoading]="isLoading()"
    [isSubmitting]="isSubmitting()"
    (closed)="closeModal()"
    (slugChanged)="updateSlug($event)"
    (nameChanged)="updateName($event)"
    (summaryPtChanged)="updateSummaryPt($event)"
    (summaryEnChanged)="updateSummaryEn($event)"
    (summaryEsChanged)="updateSummaryEs($event)"
    (highlightChanged)="updateHighlight($event)"
    (sortOrderChanged)="updateSortOrder($event)"
    (experienceToggled)="toggleExperience($event)"
    (imageAssetToggled)="toggleImageAsset($event)"
    (submitted)="submitModal()"
    (updateSelected)="openUpdateModal($event)"
    (deleteSelected)="openDeleteModal($event)"
    (pageSelected)="goToPage($event)"
    (searchChanged)="updateSearchQuery($event)"
  />
</app-operations>
