<ul class="social-links" [attr.aria-label]="ariaLabelKey() | translate">
  @for (link of links(); track link.href) {
    <li>
      <hans-button
        class="social-links-button"
        [attr.aria-label]="link.labelKey | translate"
        [buttonColor]="'base'"
        [buttonShape]="'square'"
        [buttonSize]="'small'"
        [hoverButtonColor]="'primary'"
        [hoverButtonVariant]="'transparent'"
        [buttonVariant]="'transparent'"
        (click)="openLink(link.href)"
      >
        <hans-icon [name]="link.iconName" [iconSize]="'large'"></hans-icon>
      </hans-button>
    </li>
  }
</ul>
