<app-operations
  kickerKey="pages.admin.portfolioSettings.sectionLabel"
  titleKey="common.entities.portfolioSettings"
  [descriptionKeys]="[
    'pages.admin.entities.portfolio-settings.description',
    'pages.admin.portfolioSettings.description',
  ]"
  [endpointLabel]="endpointLabel"
  [hasRecords]="hasSettings()"
  [isLoading]="isLoading()"
  [errorKey]="loadErrorKey()"
  loadingKey="pages.admin.portfolioSettings.states.loading"
  emptyKey="pages.admin.portfolioSettings.states.empty"
  (createClicked)="openCreateModal()"
  (readClicked)="openReadModal()"
  (updateClicked)="openUpdatePickerModal()"
  (deleteClicked)="openDeletePickerModal()"
>
  <app-portfolio-settings-operations-modal
    [isOpen]="isModalOpen()"
    [modalTitleKey]="modalTitleKey()"
    [modalMode]="modalMode()"
    [settings]="settings()"
    [selectedSetting]="selectedSetting()"
    [form]="form()"
    [pagination]="pagination()"
    [searchValue]="searchQuery()"
    [feedbackKey]="modalFeedbackKey()"
    [feedbackTone]="modalFeedbackTone()"
    [isLoading]="isLoading()"
    [isSubmitting]="isSubmitting()"
    (closed)="closeModal()"
    (keyChanged)="updateKey($event)"
    (descriptionChanged)="updateDescription($event)"
    (valueTextChanged)="updateValueText($event)"
    (submitted)="submitModal()"
    (updateSelected)="openUpdateModal($event)"
    (deleteSelected)="openDeleteModal($event)"
    (pageSelected)="goToPage($event)"
    (searchChanged)="updateSearchQuery($event)"
  />
</app-operations>
