@if (totalPages() > 1) {
  <nav class="pagination-controls" [attr.aria-label]="'common.pagination.navigation' | translate">
    <hans-button
      [attr.aria-label]="'common.pagination.previous' | translate"
      [buttonColor]="'primary'"
      [buttonSize]="'medium'"
      [buttonVariant]="'default'"
      [disabled]="!canGoPrevious()"
      (click)="selectPage(currentPage() - 1)"
    >
      {{ 'common.pagination.previous' | translate }}
    </hans-button>

    <div class="pagination-controls-pages">
      @for (page of pages(); track page) {
        <hans-button
          [attr.aria-current]="page === currentPage() ? 'page' : null"
          [attr.aria-label]="'common.pagination.page' | translate: { page: page }"
          [buttonColor]="'primary'"
          [buttonSize]="'medium'"
          [buttonVariant]="page === currentPage() ? 'default' : 'outline'"
          [disabled]="disabled()"
          (click)="selectPage(page)"
        >
          {{ page }}
        </hans-button>
      }
    </div>

    <hans-button
      [attr.aria-label]="'common.pagination.next' | translate"
      [buttonColor]="'primary'"
      [buttonSize]="'medium'"
      [buttonVariant]="'default'"
      [disabled]="!canGoNext()"
      (click)="selectPage(currentPage() + 1)"
    >
      {{ 'common.pagination.next' | translate }}
    </hans-button>
  </nav>
}
