<app-operations
  kickerKey="pages.admin.technologies.sectionLabel"
  titleKey="pages.admin.entities.technologies.title"
  [descriptionKeys]="[
    'pages.admin.entities.technologies.description',
    'pages.admin.technologies.description',
  ]"
  [endpointLabel]="endpointLabel"
  [hasRecords]="hasTechnologies()"
  [isLoading]="isLoading()"
  [errorKey]="loadErrorKey()"
  loadingKey="pages.admin.technologies.states.loading"
  emptyKey="pages.admin.technologies.states.empty"
  (createClicked)="openCreateModal()"
  (readClicked)="openReadModal()"
  (updateClicked)="openUpdatePickerModal()"
  (deleteClicked)="openDeletePickerModal()"
>
  <app-technologies-operations-modal
    [isOpen]="isModalOpen()"
    [modalMode]="modalMode()"
    [modalTitleKey]="modalTitleKey()"
    [technologies]="technologies()"
    [selectedTechnology]="selectedTechnology()"
    [form]="form()"
    [imageOptions]="imageOptions()"
    [pagination]="pagination()"
    [searchValue]="searchQuery()"
    [feedbackKey]="modalFeedbackKey()"
    [feedbackTone]="modalFeedbackKey() ? 'error' : null"
    [isLoading]="isLoading()"
    [isSubmitting]="isSubmitting()"
    (closed)="closeModal()"
    (searchChanged)="updateSearchQuery($event)"
    (fieldChanged)="updateField($event.field, $event.value)"
    (imageAssetToggled)="toggleImageAsset($event)"
    (submitted)="submitModal()"
    (updateSelected)="openUpdateModal($event)"
    (deleteSelected)="openDeleteModal($event)"
    (pageSelected)="goToPage($event)"
  />
</app-operations>
