<app-operations
  kickerKey="pages.admin.links.sectionLabel"
  titleKey="common.entities.links"
  [descriptionKeys]="['pages.admin.entities.links.description', 'pages.admin.links.description']"
  [endpointLabel]="endpointLabel"
  [hasRecords]="hasLinks()"
  [isLoading]="isLoading()"
  [errorKey]="loadErrorKey()"
  loadingKey="pages.admin.links.states.loading"
  emptyKey="pages.admin.links.states.empty"
  (createClicked)="openCreateModal()"
  (readClicked)="openReadModal()"
  (updateClicked)="openUpdatePickerModal()"
  (deleteClicked)="openDeletePickerModal()"
>
  <app-links-operations-modal
    [isOpen]="isModalOpen()"
    [modalTitleKey]="modalTitleKey()"
    [modalMode]="modalMode()"
    [links]="links()"
    [selectedLink]="selectedLink()"
    [form]="form()"
    [projectOptions]="projectOptions()"
    [experienceOptions]="experienceOptions()"
    [technologyOptions]="technologyOptions()"
    [formationOptions]="formationOptions()"
    [linkTypeOptions]="linkTypeOptions()"
    [pagination]="pagination()"
    [searchValue]="searchQuery()"
    [feedbackKey]="modalFeedbackKey()"
    [feedbackTone]="modalFeedbackTone()"
    [isLoading]="isLoading()"
    [isSubmitting]="isSubmitting()"
    (closed)="closeModal()"
    (urlChanged)="updateUrl($event)"
    (labelPtChanged)="updateLabelPt($event)"
    (labelEnChanged)="updateLabelEn($event)"
    (labelEsChanged)="updateLabelEs($event)"
    (descriptionPtChanged)="updateDescriptionPt($event)"
    (descriptionEnChanged)="updateDescriptionEn($event)"
    (descriptionEsChanged)="updateDescriptionEs($event)"
    (typeChanged)="updateType($event)"
    (sortOrderChanged)="updateSortOrder($event)"
    (projectToggled)="toggleProject($event)"
    (experienceToggled)="toggleExperience($event)"
    (technologyToggled)="toggleTechnology($event)"
    (formationToggled)="toggleFormation($event)"
    (submitted)="submitModal()"
    (updateSelected)="openUpdateModal($event)"
    (deleteSelected)="openDeleteModal($event)"
    (pageSelected)="goToPage($event)"
    (searchChanged)="updateSearchQuery($event)"
  />
</app-operations>
