<footer class="footer" data-testid="footer">
  <div class="footer-shell">
    <div class="footer-content">
      <app-footer-social-links />

      <p class="footer-copy">
        <hans-button
          class="footer-copy-button"
          [label]="'footer.copyright.name' | translate"
          [buttonColor]="'primary'"
          [buttonVariant]="'transparent'"
          [hoverButtonColor]="'base'"
          [hoverButtonVariant]="'transparent'"
          [buttonShape]="'square'"
          [buttonSize]="'small'"
          (click)="navigateHome()"
        ></hans-button>
        <span>{{ 'footer.copyright.year' | translate: { year: '' + currentYear() } }}</span>
      </p>
    </div>
  </div>
</footer>
