<hans-dropdown
  #languageDropdown
  class="header-language-dropdown"
  [noOptionsText]="'header.controls.noLanguages' | translate"
  [options]="languageOptions()"
  [triggerLabel]="''"
  [triggerAriaLabel]="'header.controls.language' | translate"
  [popupBackgroundColor]="'var(--white)'"
  [optionTextColor]="'var(--app-shell-surface-color)'"
  [optionHoverBackgroundColor]="'var(--primary-default-color)'"
  [optionHoverTextColor]="'var(--white)'"
  [emptyTextColor]="'var(--app-shell-surface-color)'"
  [triggerColor]="'primary'"
  [triggerHoverColor]="'primary'"
  [triggerHoverVariant]="'inverse'"
  [triggerIconName]="'FaGlobe'"
  [triggerShape]="'square'"
  [triggerSize]="'medium'"
  [triggerVariant]="'default'"
  (select)="selectLanguage($event)"
></hans-dropdown>
