<app-operations
  kickerKey="pages.admin.technologyContexts.sectionLabel"
  titleKey="common.entities.technologyContexts"
  [descriptionKeys]="[
    'pages.admin.entities.technology-contexts.description',
    'pages.admin.technologyContexts.description',
  ]"
  [endpointLabel]="endpointLabel"
  [hasRecords]="hasRecords()"
  [isLoading]="isLoading()"
  [errorKey]="loadErrorKey()"
  loadingKey="pages.admin.technologyContexts.states.loading"
  emptyKey="pages.admin.technologyContexts.states.empty"
  (createClicked)="openCreateModal()"
  (readClicked)="openReadModal()"
  (updateClicked)="openUpdatePickerModal()"
  (deleteClicked)="openDeletePickerModal()"
>
  <app-technology-contexts-operations-modal
    [isOpen]="isModalOpen()"
    [modalTitleKey]="modalTitleKey()"
    [modalMode]="modalMode()"
    [records]="records()"
    [selectedRecord]="selectedRecord()"
    [form]="form()"
    [technologyOptions]="technologyOptions()"
    [contextOptions]="contextOptions()"
    [pagination]="pagination()"
    [searchValue]="searchQuery()"
    [feedbackKey]="modalFeedbackKey()"
    [feedbackTone]="modalFeedbackKey() ? 'error' : null"
    [isLoading]="isLoading()"
    [isSubmitting]="isSubmitting()"
    (closed)="closeModal()"
    (fieldChanged)="updateField($event.field, $event.value)"
    (submitted)="submitModal()"
    (updateSelected)="openUpdateModal($event)"
    (deleteSelected)="openDeleteModal($event)"
    (pageSelected)="goToPage($event)"
    (searchChanged)="updateSearchQuery($event)"
  />
</app-operations>
