<app-operations
  kickerKey="pages.admin.projects.sectionLabel"
  titleKey="pages.admin.entities.projects.title"
  [descriptionKeys]="['pages.admin.entities.projects.description']"
  [endpointLabel]="endpointLabel"
  [hasRecords]="hasProjects()"
  [isLoading]="isLoading()"
  [errorKey]="loadErrorKey()"
  loadingKey="pages.admin.projects.states.loading"
  emptyKey="pages.admin.projects.states.empty"
  (createClicked)="openCreateModal()"
  (readClicked)="openReadModal()"
  (updateClicked)="openUpdatePickerModal()"
  (deleteClicked)="openDeletePickerModal()"
>
  <app-projects-operations-modal
    [isOpen]="isModalOpen()"
    [modalMode]="modalMode()"
    [modalTitleKey]="modalTitleKey()"
    [projects]="projects()"
    [selectedProject]="selectedProject()"
    [form]="form()"
    [technologyOptions]="technologyOptions()"
    [experienceOptions]="experienceOptions()"
    [tagOptions]="tagOptions()"
    [linkOptions]="linkOptions()"
    [imageAssetOptions]="imageAssetOptions()"
    [pagination]="pagination()"
    [searchValue]="searchQuery()"
    [feedbackKey]="modalFeedbackKey()"
    [isLoading]="isLoading()"
    [isSubmitting]="isSubmitting()"
    (closed)="closeModal()"
    (fieldChanged)="updateField($event.field, $event.value)"
    (booleanChanged)="updateBoolean($event.field, $event.value)"
    (relationToggled)="toggle($event.field, $event.id)"
    (submitted)="submitModal()"
    (updateSelected)="openUpdateModal($event)"
    (deleteSelected)="openDeleteModal($event)"
    (pageSelected)="goToPage($event)"
    (searchChanged)="updateSearchQuery($event)"
  />
</app-operations>
