<app-operations
  kickerKey="pages.admin.spokenLanguages.sectionLabel"
  titleKey="pages.admin.entities.spoken-languages.title"
  [descriptionKeys]="[
    'pages.admin.entities.spoken-languages.description',
    'pages.admin.spokenLanguages.description',
  ]"
  [endpointLabel]="endpointLabel"
  [hasRecords]="hasSpokenLanguages()"
  [isLoading]="isLoading()"
  [errorKey]="loadErrorKey()"
  loadingKey="pages.admin.spokenLanguages.states.loading"
  emptyKey="pages.admin.spokenLanguages.states.empty"
  (createClicked)="openCreateModal()"
  (readClicked)="openReadModal()"
  (updateClicked)="openUpdatePickerModal()"
  (deleteClicked)="openDeletePickerModal()"
>
  <app-spoken-languages-operations-modal
    [isOpen]="isModalOpen()"
    [modalTitleKey]="modalTitleKey()"
    [modalMode]="modalMode()"
    [spokenLanguages]="spokenLanguages()"
    [selectedSpokenLanguage]="selectedSpokenLanguage()"
    [form]="form()"
    [imageAssetOptions]="imageAssetOptions()"
    [proficiencyOptions]="proficiencyOptions()"
    [pagination]="pagination()"
    [searchValue]="searchQuery()"
    [feedbackKey]="modalFeedbackKey()"
    [feedbackTone]="modalFeedbackTone()"
    [isLoading]="isLoading()"
    [isSubmitting]="isSubmitting()"
    (closed)="closeModal()"
    (codeChanged)="updateCode($event)"
    (namePtChanged)="updateNamePt($event)"
    (nameEnChanged)="updateNameEn($event)"
    (nameEsChanged)="updateNameEs($event)"
    (proficiencyChanged)="updateProficiency($event)"
    (highlightChanged)="updateHighlight($event)"
    (sortOrderChanged)="updateSortOrder($event)"
    (imageAssetToggled)="toggleImageAsset($event)"
    (submitted)="submitModal()"
    (updateSelected)="openUpdateModal($event)"
    (deleteSelected)="openDeleteModal($event)"
    (pageSelected)="goToPage($event)"
    (searchChanged)="updateSearchQuery($event)"
  />
</app-operations>
