<app-operations
  kickerKey="pages.admin.imageAssets.sectionLabel"
  titleKey="pages.admin.entities.image-assets.title"
  [descriptionKeys]="[
    'pages.admin.entities.image-assets.description',
    'pages.admin.imageAssets.description',
  ]"
  [endpointLabel]="endpointLabel"
  [hasRecords]="hasImageAssets()"
  [isLoading]="isLoading()"
  [errorKey]="loadErrorKey()"
  loadingKey="pages.admin.imageAssets.states.loading"
  emptyKey="pages.admin.imageAssets.states.empty"
  (createClicked)="openCreateModal()"
  (readClicked)="openReadModal()"
  (updateClicked)="openUpdatePickerModal()"
  (deleteClicked)="openDeletePickerModal()"
>
  <app-image-assets-operations-modal
    [isOpen]="isModalOpen()"
    [modalTitleKey]="modalTitleKey()"
    [modalMode]="modalMode()"
    [imageAssets]="imageAssets()"
    [selectedImageAsset]="selectedImageAsset()"
    [form]="form()"
    [projectOptions]="projectOptions()"
    [experienceOptions]="experienceOptions()"
    [technologyOptions]="technologyOptions()"
    [imageAssetKindOptions]="imageAssetKindOptions()"
    [pagination]="pagination()"
    [searchValue]="searchQuery()"
    [feedbackKey]="modalFeedbackKey()"
    [feedbackTone]="modalFeedbackTone()"
    [isLoading]="isLoading()"
    [isSubmitting]="isSubmitting()"
    (closed)="closeModal()"
    (fileNameChanged)="updateFileName($event)"
    (filePathChanged)="updateFilePath($event)"
    (folderChanged)="updateFolder($event)"
    (kindChanged)="updateKind($event)"
    (altPtChanged)="updateAltPt($event)"
    (altEnChanged)="updateAltEn($event)"
    (captionPtChanged)="updateCaptionPt($event)"
    (captionEnChanged)="updateCaptionEn($event)"
    (mimeTypeChanged)="updateMimeType($event)"
    (widthChanged)="updateWidth($event)"
    (heightChanged)="updateHeight($event)"
    (sortOrderChanged)="updateSortOrder($event)"
    (projectToggled)="toggleProject($event)"
    (experienceToggled)="toggleExperience($event)"
    (technologyToggled)="toggleTechnology($event)"
    (submitted)="submitModal()"
    (updateSelected)="openUpdateModal($event)"
    (deleteSelected)="openDeleteModal($event)"
    (pageSelected)="goToPage($event)"
    (searchChanged)="updateSearchQuery($event)"
  />
</app-operations>
